body {
  background-color: black;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: sans-serif;
  font-weight: 400;
}

.logo_top {
  background-position: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/Users/soren/Desktop/AG_website/css/avantgarde_toplogo.gif");
  background-size: cover;
  background-position: center;
  width: 900px;
  min-height: 84px;
  background-repeat: no-repeat;



}


/* Add a black background color to the top navigation */
#topnav {
  background-color: ;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: block;
  padding: 0;
}

#topnav::after {
  content: '';
  display: block;
  clear: both;

}

#topnav > li {
  float: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#topnav > li > a {
  padding: 10px 20px;
  display: block;
}

#topnav > li:hover > .dropdown {
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#topnav li {
  list-style-type: none;
  padding: 0;
}

#topnav a {
  color: #ccc;
  text-decoration: none;
  transition: transform .1s ease;
}


#topnav a:hover {
  color: white;
  transform: scale(1.1);
}

li:last-child {
 float: left;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 background-color:white;
}

#topnav li:last-child a:last-child {
  color: #000;

}

/* Hide the link that should open and close the topnav on small screens */
.burger {
  display: none;
}

.slides {
  display: none;
}

.image_container {
  background-image: url("/Users/soren/Desktop/AG_website/css/hair4.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 675px;
  position: relative;
  float: left;
}

.video_container {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 10px;
	height: 0;
}


video {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: fill;
  margin: 0 0;
}

#social_menu {
  float: left;
  position: relative;
  background-color: black;
  margin: 0 auto;
  height: 65px;
  width: 100%;
  max-width:;
  display: block;
  padding: 0;
}

#adresse {
  float: left;
  position: relative;
  margin: 0 auto;
  height: 55px;
  width: 50%;
  font-size: 12px;
  font-style: oblique;
  color: #ccc;
  text-align: center;
}

#face {
  background-image: url(/Users/soren/Desktop/AG_website/css/face_logo.png);
  background-size: cover;
  float: right;
  position: relative;
  margin: -5px 20% 0 0 ;
  width: 40px;
  height: 40px;
}

#insta {
  background-image: url(/Users/soren/Desktop/AG_website/css/insta_logo.png);
  background-size: cover;
  float: right;
  position: relative;
  margin: -5px 15px 0 0;
  width: 43px;
  height: 43px;
}
